* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #a81f1f;
    --secondary-color: #D2D2D2;
    --tertiary-color: #E9E9E9;
}

body{
    font-family: Inter;
    background-color: var(--tertiary-color);
}

h1{
    font-size: calc(3vw + 1vh);
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    margin-top: calc(3vw + 4vh);
    font-family: "Montserrat", sans-serif;
}

.header{
    width: 100%;
    display: flex;
    padding: calc(0.7vw + 0.35vh);
    background-color: white;
    position: fixed;
    z-index: 100;
    transition: 0.5s;
}

.header.scrolled{
    transform: translateY(-63%);
}

.navbar{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: calc(1vw + 1vh);
    padding-right: calc(1vw + 1vh);
}

.header__menu{
    width: 70%;
    margin-left: 15%;
    margin-top: calc(0.5vw + 0.25vh);
    margin-bottom: calc(0.5vw + 0.25vh);
    display: flex;
    flex-grow: 1;
}

.header__logo img{
    width: calc(15vw + 7.5vh);
    transition: 0.5s;
}

.header__menu ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.header__menu ul li a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-size: calc(1.2vw + 0.6vh);
    transition: 0.5s;
    font-weight: 400;
}

.header__menu ul li a:hover{
    color: var(--primary-color);
}

.video-div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    overflow: hidden;
}

.video-div video{
    margin-top: calc(3vw + 4vh);
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.video-div .overlay-div{
    position: absolute;
    text-align: center;
}

.video-div .overlay-div button{
    margin: calc(2.5vw + 1vh);
    margin-top: calc(3vw + 4vh);
    width: calc(17vw + 7vh);
    height: calc(4vw + 4vh);
    border-radius: calc(2vw + 2vh);
    border-style: none;

    background-color: rgba(61, 61, 61, 0.75);
    font-size: calc(1.5vw + 0.5vh);
    color: white;
    font-weight: bold;
}

.video-div .overlay-div button:hover{
    border-style: solid;
}

.statistics{
    padding-top: calc(3vw + 4vh);
    padding-bottom: calc(3vw + 4vh);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistics .stat p{
    color: white;
    font-size: calc(1.8vw + 0.7vh);
    font-weight: bold;
    text-align: center;
}

.container{
    overflow: hidden;
    margin-top: calc(2vw + 2vh);
    margin-bottom: calc(2vw + 2vh);
}

.caroussel{
    position: relative;
}

.caroussel h2{
    font-size: calc(2vw + 1vh);
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 2vh;
}

.caroussel-inner{
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}

.caroussel-inner .comment-inner{
    flex: 0 0 10%;
    padding: calc(1vw + 0.5vh);
    transition: .5s ease-in-out;
    text-align: center;
    margin: calc(2vw + 1vh);
    background-color: var(--secondary-color);
    border-radius: calc(4vw + 1vh);
}

.caroussel-inner .comment-inner .client{
    color: var(--primary-color);
    font-size: calc(1.5vw + 0.5vh);
    font-weight: bold;
}

.caroussel-inner .comment-inner .comment{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: black;
    font-size: calc(1vw + 0.5vh);
    font-weight: bold;
}

.caroussel-inner .comment-inner .source{
    opacity: 0.5;
    font-size: calc(1vw + 0.5vh);
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: calc(2vw + 1vh);
}

.footer img{
    width: calc(13vw + 5vh);
    margin-bottom: 1vh;
}

.footer .footer-div p{
    font-size: calc(1vw + 0.3vh);

}

.footer .footer-div h3{
    font-size: calc(2vw + 1vh);
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}

.iconButton{
    margin-top: calc(2vw + 2vh);
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.button{
    background-color : rgb(185, 176, 176);
    width: calc(3vw + 2vh);
    height: calc(3vw + 2vh);
    float: left;
    border-radius: calc(3vw + 2vh);
    margin: 0 calc(0.4vw + 0.3vh);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.button a{
    color: black;
    text-decoration: none;
}

.button:nth-child(1):hover{
    background-color: #4267b2;
    color : #fff;
}

.button:nth-child(2):hover{
    background-color: #25D366;
    color : #fff;
}

.button:nth-child(3):hover{
    background-color: #0489C9;
    color : #fff;
}

.button:hover a{
    color: #fff;
}

.button .s-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width : calc(3vw + 2vh);
    height : calc(3vw + 2vh);
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.button .s-icon i {
    font-size: calc(1.7vw + 0.6vh);
}

.footer .footer-div .footer-div-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer .footer-div .footer-div-button button{
    width: calc(10vw + 3vh);
    height: calc(3vw + 1vh);
    border-radius: calc(3vw + 1vh);
    border-style: none;

    font-size: calc(1.2vw + 0.5vh);
    font-weight: bold;
    margin-top: 1vh;
}


/*contact.html*/
.contact{
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    height: 100vh;
}

.contact .form-contact{
    width: 30%;
    margin-left: 10vw;
    padding: 2vw;
    margin-top: calc(5vw + 3vh);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: calc(4vw + 1vh);
    flex-direction: column;
}

.contact .form-contact h2{
    color: white;
    font-size: calc(2vw + 1vh);
    font-weight: bold;
    margin-top: calc(1vw + 1vh);
    margin-bottom: calc(1vw + 1vh);
    text-align: center;
}

.contact .form-contact form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact .form-contact form .form-info input{
    width : 40%;
    height: calc(3vw + 1vh);
    margin: 0.7vw;
    border-radius: calc(1vw + 0.5vh);
    border-style: none;
    background-color: var(--secondary-color);
    padding: 0.5vw;
}

input:focus, textarea:focus{
    outline: none;
}

.contact .form-contact form .form-message{
    width: 100%;
}
.contact .form-contact form .form-message textarea{
    width : 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: calc(4vw + 2vh);
    border-radius: calc(1vw + 0.5vh);
    padding: calc(1vw + 0.5vh);
    background-color: var(--secondary-color);
    resize: none;
}

.contact .form-contact form button{
    width: calc(10vw + 3vh);
    height: calc(3vw + 1vh);
    border-radius: calc(3vw + 1vh);
    border-style: none;

    font-size: calc(1.2vw + 0.5vh);
    font-weight: bold;
    margin-top: 1vh;
    background-color: var(--secondary-color);
    color: black;
}

.contact .message-contact{
    width: 50%;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-top: calc(5vw + 3vh);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.contact .message-contact h2{
    color: var(--primary-color);
    margin: calc(1vw + 1vh);
    font-size: calc(2vw + 1vh);
    font-weight: bold;
    margin-top: calc(3vw + 3vh);
    text-align: center;
}

.contact .message-contact p{
    width: 80%;
    color: black;
    margin: calc(0.5vw + 0.5vh);
    font-size: calc(1vw + 0.5vh);
}

@media (max-width: 600px){

    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color);
        height: 130vh;
        flex-direction: column;
    }

    .contact .message-contact{
        order: 1;
        flex-grow: 1;
        
        width: 90%;
        margin-left: 5vw;
        margin-top: calc(1vw + 5vh);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .contact .message-contact h2{
        color: var(--primary-color);
        font-size: calc(3vw + 1.5vh);
        font-weight: bold;
        margin-top: calc(3vw + 3vh);
    }

    .contact .message-contact p{
        width: 80%;
        color: black;
        font-size: calc(1.5vw + 0.7vh);
    }

    .contact .form-contact{
        width: 70%;
        flex-grow: 4;
        order: 2;
        margin-bottom: 3vh;
        margin-left: 0;
    }

    .contact .form-contact form button{
        width: calc(15vw + 6vh);
        height: calc(6vw + 2vh);
        border-radius: calc(3vw + 1vh);
        border-style: none;
    
        font-size: calc(2vw + 1vh);
        font-weight: bold;
        background-color: var(--secondary-color);
        color: black;
    }

    .contact .form-contact form .form-message textarea{
        width : 80%;
        margin-left: 6%;
        margin-right: 6%;
        height: calc(6vw + 4vh);
        border-radius: calc(1vw + 0.5vh);
        padding: calc(1vw + 0.5vh);
        background-color: var(--secondary-color);
        resize: none;
    }

    .contact .form-contact form .form-info input{
        width : 40%;
        height: calc(5vw + 2vh);
        margin: 3%;
        border-radius: calc(1vw + 0.5vh);
        border-style: none;
        background-color: var(--secondary-color);
        padding: 0.5vw;
    }

    .contact .form-contact h2{
        color: white;
        font-size: calc(3vw + 2vh);
        font-weight: bold;
        margin-top: calc(3vw + 3vh);
    }

    .contact .button{
        background-color : rgb(185, 176, 176);
        width: calc(5vw + 3vh);
        height: calc(5vw + 3vh);
        float: left;
        border-radius: calc(5vw + 3vh);
        margin: 0 calc(1vw + 0.7vh);
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in-out;
    }

    .contact .button .s-icon{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        width : calc(5vw + 3vh);
        height : calc(5vw + 3vh);
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .contact .button .s-icon i {
        font-size: calc(3vw + 1vh);
    }
}

/*devis page*/

.devis-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding-top: calc(4vw + 2vh);
}

.devis-class h2{
    color: var(--primary-color);
    font-size: calc(2vw + 1vh);
    margin-top: calc(1vw + 0.5vh);
    margin-bottom: calc(1vw + 0.5vh);
    text-align: center;
}

.devis-class .mission .mission-containers{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(2vw + 1vh);
}


.devis-class .mission .mission-containers .mission-container{
    width: calc(13vw + 6.5vh);
    height: calc(13vw + 6.5vh);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: calc(1vw + 0.5vh);
    padding-top: calc(3vw + 1.5vh);
    margin: calc(1.5vw + 0.75vh);;
    position: relative;
}

.devis-class .mission .mission-containers .mission-container .mission-info{
    width: calc(1.5vw + 0.75vh);
    height: calc(1.5vw + 0.75vh);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(0.8vw + 0.4vh);
    margin-right: calc(1vw + 0.5vh);
    font-size: calc(1vw + 0.5vh);
    border-style: none;
}

.devis-class .mission .mission-containers .mission-container .tooltip{
    width: calc(22vw + 11vh);
    height: calc(12vw + 6vh);
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    position: absolute;
    background-color: black;
    color: white;
    border-radius: calc(1vw + 0.5vh);
    padding: calc(0.8vw + 0.4vh);
    font-size: calc(0.8vw + 0.4vh);
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 10px);
}

.devis-class .mission .mission-containers .mission-container .tooltip h3{
    text-align: center;
}

.devis-class .mission .mission-containers .mission-container .tooltip p{
    margin: calc(0.7vw + 0.35vh);
    text-align: center;
}

.devis-class .mission .mission-containers .mission-container .mission-title{
    color: black;
    font-size: calc(1vw + 0.5vh);
    font-weight: bold;
    text-align: center;
}

.devis-class .mission .mission-containers .mission-container .mission-person{
    color: black;
    font-size: calc(1vw + 0.5vh);
    text-align: center;
    margin-top: calc(0.8vw + 0.4vh);
    margin-right: calc(0.8vw + 0.4vh);
    margin-left: calc(0.8vw + 0.4vh);
}

.devis-class .mission .mission-containers .mission-container .mission-price{
    color: black;
    font-size: calc(0.8vw + 0.4vh);
    text-align: center;
    margin-top: calc(0.6vw + 0.3vh);
}

.devis-class .mission .mission-containers .mission-container .mission-button{
    width: calc(6vw + 3vh);
    height: calc(1.5vw + 0.75vh);
    border-radius: calc(3vw + 1.5vh);
    border-style: none;

    font-size: calc(0.7vw + 0.35vh);
    font-weight: bold;
    margin: calc(1vw + 0.5vh);
    background-color: var(--primary-color);
    color: white;
}

.devis-class .bien{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.devis-class .bien .bien-containers{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
}

.devis-class .bien .bien-containers .bien-container{
    width: calc(13vw + 6.5vh);
    height: calc(12vw + 6.5vh);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: calc(1vw + 0.5vh);
    margin: calc(1.5vw + 0.75vh);
}

.devis-class .bien .bien-containers .bien-container i{
    font-size: calc(3vw + 1.5vh);
    color: var(--primary-color);
    margin-top: calc(0.7vw + 0.35vh);

}

#immobilier .bien-containers .bien-container{
    height: calc(15vw + 7.5vh);
}

.devis-class .bien .bien-containers .bien-container .bien-title{
    color: black;
    font-size: calc(1vw + 0.5vh);
    font-weight: bold;
    text-align: center;
}

.devis-class .bien .bien-containers .bien-container .bien-price{
    color: black;
    font-size: calc(0.8vw + 0.4vh);
    text-align: center;
    font-weight: normal;
}

.devis-class .bien .bien-containers .bien-container .bien-person{
    color: black;
    font-size: calc(1vw + 0.5vh);
    text-align: center;
    margin-top: calc(0.8vw + 0.4vh);
    margin-right: calc(0.8vw + 0.4vh);
    margin-left: calc(0.8vw + 0.4vh);
    font-weight: normal;
}

.devis-class .bien .bien-containers .bien-container .bien-precision{
    color: black;
    font-size: calc(0.8vw + 0.4vh);
    text-align: center;
    margin-top: calc(0.3vw + 0.15vh);
}

.devis-class .bien .bien-containers .bien-container .bien-button{
    width: calc(6vw + 3vh);
    height: calc(1.5vw + 0.75vh);
    border-radius: calc(3vw + 1.5vh);
    border-style: none;

    font-size: calc(0.7vw + 0.35vh);
    font-weight: bold;
    margin: calc(1vw + 0.5vh);
    background-color: var(--primary-color);
    color: white;
}

.bien .service{
    display: flex;
    align-items: center;
    margin-left: 25vw;
}

.bien .service a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: calc(1vw + 0.5vh);
    
}

.bien .service p{
    font-size: calc(1vw + 0.5vh);
    margin: calc(0.5vw + 0.25vh);
    font-weight: normal;
}

.bien .next{
    margin-left: 45%;
    height: calc(1.5vw + 0.75vh);
    width: 10%;
    text-align: center;
    border-style: none;
    margin-top: calc(1vw + 0.5vh);
    margin-bottom: calc(1vw + 0.5vh);
    border-radius: calc(1vw + 0.5vh);
    background-color: var(--primary-color);
    color: white;
    font-size: calc(1vw + 0.5vh);
}

.bien .service .checkbox{
    width: calc(2vw + 1vh);
    height: calc(2vw + 1vh);

    background-color: white;
    border-radius: calc(0.5vw + 0.25vh);
    margin: calc(0.5vw + 0.25vh);
    border-style: none;
}

.bien p{
    font-size: calc(1.2vw + 0.6vh);
    margin: calc(0.5vw + 0.25vh);
    font-weight: bold;
    text-align: center;
}

.bien .service p{
    font-size: calc(1vw + 0.5vh);
    margin: calc(0.5vw + 0.25vh);
    font-weight: normal;
}

#etats-des-lieux{
    display: none;
}

#immobilier{
    display: none;
}

#reception-provisoire{
    display: none;
}

#visite-locative{
    display: none;
}

#enquete{
    display: none;
}

.zigzag {
    position: relative;
    width: 200px; /* Ajustez la largeur selon vos besoins */
    height: 100px; /* Ajustez la hauteur selon vos besoins */
    background-color: transparent;
  }
  
  .zigzag:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent 15px, black 15px, transparent 30px);
    transform: rotate(-45deg);
  }